.main-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.home-page-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

    .home-page-container .row {
        position: relative;
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .home-page-container .row .col-md-6 {
        padding-right: 0px;
    }


#mainLander {
    height: 100%;
}

#mainLander #welcomeBox {
    height: 300px;
}

    #mainLander #carouselInfoSlides {
        height: 300px;
    }

    #pageNavigator {
        height: 100%;
    }

#welcomeBox {
    border-radius: 0px;
    color: black;
    margin-bottom: 0px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.terms-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    width: 100%;
}

.terms-container .card {
    color: black;
}